<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @competition.status %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @competition.winner %>
</p>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
