<p id="notice"><%= notice %></p>

<h1>Category Questions</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_questions.each do |category_question| %>
      <tr>
        <td><%= category_question.category_id %></td>
        <td><%= category_question.question_id %></td>
        <td><%= link_to 'Show', category_question %></td>
        <td><%= link_to 'Edit', edit_category_question_path(category_question) %></td>
        <td><%= link_to 'Destroy', category_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Question', new_category_question_path %>
