<p id="notice"><%= notice %></p>

<h1>User Cups</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Cup</th>
      <th>Cup count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_cups.each do |user_cup| %>
      <tr>
        <td><%= user_cup.user_id %></td>
        <td><%= user_cup.cup_id %></td>
        <td><%= user_cup.cup_count %></td>
        <td><%= link_to 'Show', user_cup %></td>
        <td><%= link_to 'Edit', edit_user_cup_path(user_cup) %></td>
        <td><%= link_to 'Destroy', user_cup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Cup', new_user_cup_path %>
