<p id="notice"><%= notice %></p>

<p>
  <strong>Category answer:</strong>
  <%= @category.category_answer_id %>
</p>

<p>
  <strong>Category question:</strong>
  <%= @category.category_question_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
